@media all and (max-width: 1200px) {
    .bagian-extra1{
        height: 1150px;
    }

    .profile {
        width: 50%;
        margin-bottom: 50px;
    }

    .bagian-extra2{
        height: 400px;
    }
}

@media all and (max-width: 800px) {
    .bagian-extra1{
        height: 1200px;
    }

    .profile {
        width: 50%;
        margin-bottom: 50px;
    }

    .bagian-extra2{
        height: 450px;
    }
}

@media all and (max-width: 500px) {
    .bagian-extra1{
        height: 1900px;
    }

    .profile {
        width: 100%;
        margin-bottom: 50px;
    }

    .bagian-extra2{
        height: 580px;
    }
}
